.theme-dark {
	--accent-h:calc(184.44444444444443/255*360);
	--accent-s:calc(69.9481865284974/255*100%);
	--accent-l:calc(62.15686274509804/255*100%);

  --text-normal:#dee3e4;
  --text-muted:#bcc9ca;
  --text-faint:#869394;

  --background-primary:#0f1415; /* editor and right ribbon */
  --background-secondary:#0f1415; /* left ribbon */ 
  --background-modifier-hover:#224d51;
  --background-modifier-active-hover:#a3ced2;
  --background-modifier-message:#0f1415;
  --background-modifier-form-field:#22b0ba;

  --ribbon-background:#0f1415;
  --divider-color:#224d51;
  --scrollbar-thumb-bg:#bce8ec;
  --status-bar-border-color:#224d51;
  --status-bar-background:#0f1415;
  --titlebar-background:#0f1415;
  --titlebar-text-color:#dee3e4;

  --nav-item-color:#bcc9ca;
  --nav-item-color-active:#001619;
  --nav-item-background-active:#22b0ba;
  --nav-item-color-hover:#bce8ec;
  --nav-item-background-hover:#224d51;

  --tab-background-active:#22b0ba;
  --tab-text-color-active:#001619;
  --tab-text-color:#bcc9ca;

  --icon-color:#dee3e4;

  --h1-color:#5bd8e2;
  --h2-color: color-mix(in srgb, #5bd8e2, #ffb68c);
  --h3-color:#ffb68c;
  --h4-color: color-mix(in srgb, #5bd8e2, #a3ced2);
  --h5-color:#a3ced2;
  --h6-color: color-mix(in srgb, #ffb68c, #a3ced2);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dee3e4;
  background:#0f1415;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dee3e4;
  background:#0f1415;
}

.theme-dark .workspace-tab-header-container{
  background:#0f1415;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(183.75/255*360);
	--accent-s:calc(100.0/255*100%);
	--accent-l:calc(21.96078431372549/255*100%);

  --text-normal:#171d1d;
  --text-muted:#3d494a;
  --text-faint:#6d797b;

  --background-primary:#f5fafb; /* editor and right ribbon */
  --background-secondary:#d5dbdb; /* left ribbon */ 
  --background-modifier-hover:#bce8ec;
  --background-modifier-active-hover:#3b6569;
  --background-modifier-message:#d5dbdb;
  --background-modifier-form-field:#22b0ba;

  --ribbon-background:#f5fafb;
  --divider-color:#bce8ec;
  --scrollbar-thumb-bg:#224c50;
  --status-bar-border-color:#bce8ec;
  --status-bar-background:#f5fafb;
  --titlebar-background:#f5fafb;
  --titlebar-text-color:#171d1d;

  --nav-item-color:#3d494a;
  --nav-item-color-active:#001619;
  --nav-item-background-active:#22b0ba;
  --nav-item-color-hover:#224c50;
  --nav-item-background-hover:#bce8ec;

  --tab-background-active:#22b0ba;
  --tab-text-color-active:#001619;
  --tab-text-color:#3d494a;

  --icon-color:#171d1d;

  --h1-color:#006970;
  --h2-color: color-mix(in srgb, #006970, #954a14);
  --h3-color:#954a14;
  --h4-color: color-mix(in srgb, #006970, #3b6569);
  --h5-color:#3b6569;
  --h6-color: color-mix(in srgb, #954a14, #3b6569);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#171d1d;
  background:#f5fafb;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#171d1d;
  background:#f5fafb;
}

.theme-light .workspace-tab-header-container{
  background:#f5fafb;
}
